@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #5320a6;
  padding: 30px;
  color: #fff ;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #8b32f4;
}

h2 {
  margin-bottom: 10px;
  color: #8b32f4;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #5320a6;
  color: #f6f5f8;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  margin-right: 20px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #8b32f4;
}

.todo {
  background-color: #8b32f4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  word-break: break-word; 
  overflow: hidden; 
}

.complete {
  background-color: #19181a;
  color: #ddd;
}

.remove {
  background-color: #e7241d;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5320a6;
  border-radius: 4px;
  width: 100%;
  color: #5320a6;
}

input::placeholder {
  color: #5320a6;
}

.motivacional-quote {
  color: #5320a6;
}

@media (max-width: 600px) {
  .app {
    margin: 0 10px;
    padding: 15px;
  }

  .todo {
    flex-direction: column;
    text-align: center;
  }

  .todo .complete,
  .todo .remove {
    margin: 5px 0;
    
  }

  .todo-list {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input,
  select {
    padding: 8px;
    font-size: 0.9rem;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .motivacional-quote {
    font-size: 1.2rem;
  }
}
